In [1]:
import pandas as pd
import numpy as np

In [3]:
airbnb_listing = pd.read_csv("../data/merged/merged_airbnb_2.csv")

In [4]:
airbnb_listing['host_link']

0       https://www.airbnb.com/users/show/165101119
1        https://www.airbnb.com/users/show/45832328
2       https://www.airbnb.com/users/show/199048845
3        https://www.airbnb.com/users/show/45832328
4        https://www.airbnb.com/users/show/45832328
                           ...
1573    https://www.airbnb.com/users/show/126063499
1574    https://www.airbnb.com/users/show/117580222
1575    https://www.airbnb.com/users/show/566943528
1576    https://www.airbnb.com/users/show/337730115
1577    https://www.airbnb.com/users/show/413792589
Name: host_link, Length: 1578, dtype: object

In [5]:
host_df = pd.read_csv('../data/host_csvs/host_all.csv')

In [6]:
host_df['host_link']

0      https://www.airbnb.com/users/show/513745807
1      https://www.airbnb.com/users/show/483375765
2      https://www.airbnb.com/users/show/193917847
3      https://www.airbnb.com/users/show/249410653
4      https://www.airbnb.com/users/show/196272404
                          ...
874    https://www.airbnb.com/users/show/483012730
875    https://www.airbnb.com/users/show/550606390
876    https://www.airbnb.com/users/show/579728827
877    https://www.airbnb.com/users/show/308478632
878    https://www.airbnb.com/users/show/436725323
Name: host_link, Length: 879, dtype: object

In [7]:
merged_airbnb_host = pd.merge(airbnb_listing, host_df, on='host_link', how='inner')

In [12]:
merged_airbnb_host.shape

(1853, 28)

In [9]:
merged_airbnb_host.to_csv("../data/merged/merged_airbnb_host_main.csv",index=False)

In [10]:
df = pd.read_csv('../data/merged/merged_airbnb_host_main.csv')

In [17]:
df.drop_duplicates(subset="base_urls",inplace= True)

In [20]:
df.to_csv("../data/merged/merged_main.csv",index= False)

In [21]:
df["host_name"].value_counts()

host_name
Md. Gias          217
Aafwan             33
Robin              27
JatraRooms         26
Farhad Holding     19
                 ...
Nasif Ashraf        1
MD. Anisur          1
Shahna              1
Syd                 1
Md Forkanun         1
Name: count, Length: 735, dtype: int64