In [30]:
import pandas as pd
import os
import numpy as np

In [5]:
df_list = []

for c in os.listdir('./host_csvs'):
    df = pd.read_csv('./host_csvs/'+c)
    df_list.append(df)

host_df = pd.concat(df_list)

In [7]:
host_df.reset_index(inplace=True)

In [9]:
host_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       750 non-null    int64
 1   host_link                   750 non-null    object
 2   host_name                   745 non-null    object
 3   host_rating                 401 non-null    float64
 4   host_no_of_review           451 non-null    float64
 5   host_hosting_duration       667 non-null    object
 6   host_no_of_listing          750 non-null    int64
 7   host_listing_links          749 non-null    object
 8   host_about                  631 non-null    object
 9   host_confirmed_information  750 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 58.7+ KB

In [10]:
host_df.isnull().sum()

index                           0
host_link                       0
host_name                       5
host_rating                   349
host_no_of_review             299
host_hosting_duration          83
host_no_of_listing              0
host_listing_links              1
host_about                    119
host_confirmed_information      0
dtype: int64

In [13]:
host_df['host_confirmed_information'].value_counts()

host_confirmed_information
['Identity', 'Email address', 'Phone number']                  575
['Identity', 'Phone number']                                   144
['Identity', 'Email address', 'Phone number', 'Work email']     26
[]                                                               2
['Email address', 'Phone number']                                2
['Email address', 'Phone number', 'Work email']                  1
Name: count, dtype: int64

In [21]:
info_types = ['Identity', 'Email address', 'Phone number', 'Work email']


for info in info_types:
    host_df[info] = host_df['host_confirmed_information'].apply(lambda x: info in x).astype(int)

In [24]:
host_df.drop(columns=['host_confirmed_information'],inplace=True)

In [26]:
host_df.drop(columns=['index'],inplace=True)

In [29]:
host_df['host_hosting_duration']

0        1 years
1        2 years
2        6 years
3        5 years
4      10 months
         ...
745      2 years
746     6 months
747          NaN
748      1 years
749      2 years
Name: host_hosting_duration, Length: 750, dtype: object

In [31]:
def convert_to_months(duration):
    if pd.isna(duration):
        return np.nan
    num, unit = duration.split()
    num = int(num)
    if unit == 'years':
        return num * 12
    elif unit == 'months':
        return num
    else:
        return np.nan  

host_df['host_hosting_duration_months'] = host_df['host_hosting_duration'].apply(convert_to_months)

In [32]:
host_df['host_hosting_duration_months']

0      12.0
1      24.0
2      72.0
3      60.0
4      10.0
       ...
745    24.0
746     6.0
747     NaN
748    12.0
749    24.0
Name: host_hosting_duration_months, Length: 750, dtype: float64

In [33]:
host_df.drop(columns=['host_hosting_duration'],inplace=True)

In [35]:
host_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   host_link                     750 non-null    object
 1   host_name                     745 non-null    object
 2   host_rating                   401 non-null    float64
 3   host_no_of_review             451 non-null    float64
 4   host_no_of_listing            750 non-null    int64
 5   host_listing_links            749 non-null    object
 6   host_about                    631 non-null    object
 7   Identity                      750 non-null    int32
 8   Email address                 750 non-null    int32
 9   Phone number                  750 non-null    int32
 10  Work email                    750 non-null    int32
 11  host_hosting_duration_months  667 non-null    float64
dtypes: float64(3), int32(4), int64(1), object(4)
memory usage: 58.7+ KB

In [38]:
host_df['Phone number']

0      1
1      1
2      1
3      1
4      1
      ..
745    1
746    1
747    1
748    1
749    1
Name: Phone number, Length: 750, dtype: int32

In [37]:
host_df.select_dtypes('number').corr()

,host_rating,host_no_of_review,host_no_of_listing,Identity,Email address,Phone number,Work email,host_hosting_duration_months
host_rating,1.000000,-0.020809,-0.148862,-0.030926,0.009712,NaN,0.026165,-0.104020
host_no_of_review,-0.020809,1.000000,0.216816,0.004622,0.033265,NaN,-0.009534,0.031664
host_no_of_listing,-0.148862,0.216816,1.000000,0.056777,0.127606,0.052012,0.048166,0.209945
Identity,-0.030926,0.004622,0.056777,1.000000,0.042485,0.631186,-0.072121,0.023313
Email address,0.009712,0.033265,0.127606,0.042485,1.000000,0.105173,0.095010,0.213788
Phone number,NaN,NaN,0.052012,0.631186,0.105173,1.000000,0.009993,NaN
Work email,0.026165,-0.009534,0.048166,-0.072121,0.095010,0.009993,1.000000,0.181004
host_hosting_duration_months,-0.104020,0.031664,0.209945,0.023313,0.213788,NaN,0.181004,1.000000

In [39]:
host_df.to_csv('./all_unique_hosts_info.csv',index=False)

In [2]:
import json

"//span[@class='tyi4kqb atm_c8_km0zk7 atm_g3_18khvle atm_fr_1m9t47k atm_cs_9dzvea dir dir-ltr']"